 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ISE Inc. Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

 
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!-- Font Import -->
<style>

  @font-face {
  font-family: 'Stone-Sans-Regular';
  src: url('fonts/Stone Sans Regular.eot'), url('fonts/Stone Sans Regular.ttf') format('truetype'), url('fonts/Stone Sans Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'Futura-Light';
  src: url('fonts/Futura-Light.eot'), url('fonts/Futura-Light.ttf') format('truetype'), url('fonts/Futura-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'FuturaCondensedMedium';
  src: url('fonts/FuturaCondensedMedium.eot'), url('fonts/FuturaCondensedMedium.ttf') format('truetype'), url('fonts/FuturaCondensedMedium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'Harabara';
  src: url('fonts/harabara-webfont.eot'), url('fonts/harabara-webfont.ttf') format('truetype'), url('fonts/harabara-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proximanova-light-webfont.eot'), url('fonts/proximanova-light-webfont.ttf') format('truetype'), url('fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

/* About Us Font */

  @font-face {
  font-family: 'Museo300-Regular';
  src: url('fonts/Museo300-Regular.eot'), url('fonts/Museo300-Regular.ttf') format('truetype'), url('fonts/Museo300-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

    @font-face {
  font-family: 'BonvenoCF-Light';
  src: url('fonts/BonvenoCF-Light.eot'), url('fonts/BonvenoCF-Light.ttf') format('truetype'), url('fonts/BonvenoCF-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

    @font-face {
        font-family: 'CartoGothicStd-Book';
        src: url('fonts/CartoGothicStd-Book.eot'), url('fonts/CartoGothicStd-Book.ttf')     format('truetype'), url('fonts/CartoGothicStd-Book.svg') format('svg');
        font-weight: normal;
        font-style: normal;
  }


  @font-face {
        font-family: 'Lucida_Grande';
        src: url('fonts/Lucida_Grande.eot'), url('fonts/Lucida_Grande.ttf')     format('truetype'), url('fonts/Lucida_Grande.svg') format('svg');
        font-weight: normal;
        font-style: normal;
  }
  @font-face {
        font-family: 'Old_English';
        src: url('fonts/Lucida_Grande.eot'), url('fonts/Lucida_Grande.ttf')     format('truetype'), url('fonts/Lucida_Grande.svg') format('svg');
        font-weight: normal;
        font-style: normal;
  }
 


</style>

<!-- Header's Hover on -->

<style>

  .bg-maroon{
      padding: 0;
      float: auto;
      text-align: center;
      background-color: #8f1f22;
    }
    .div_header{
      border: 0;
      z-index: 100;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      float: auto;
      text-align: center;
    }

#mainwrapper { 
        margin: 0; 
        padding: 0;
        border: 0;
        font: 10pt normal Arial, sans-serif;  
        height: auto;   
        text-align: center;  
        width: 100%;  
    }  
    #mainwrapper .box {  
        border: 0;
        cursor: pointer;  
        height: auto;  
        float: left;  
        margin: 0;  
        position: relative;  
        overflow: hidden;  
        width: 100%;  
        
        
    }  
  
    #mainwrapper .box img {  
        text-align: center;
        float: auto;
        vertical-align: center;
        border: 0;
        left: 0;  
        -webkit-transition: all 300ms ease-out;  
        -moz-transition: all 300ms ease-out;  
        -o-transition: all 300ms ease-out;  
        -ms-transition: all 300ms ease-out;  
        transition: all 300ms ease-out;  
    }  
    #mainwrapper .box .caption {  
        border: 0;
        background-color: rgba(40,40,40,0.4);  
        position: absolute;  
        color: #fff;  
        z-index: 100;  
        -webkit-transition: all 300ms ease-out;  
        -moz-transition: all 300ms ease-out;  
        -o-transition: all 300ms ease-out;  
        -ms-transition: all 300ms ease-out;  
        transition: all 300ms ease-out;  
        left: 0;  
    }  
    #mainwrapper .box .simple-caption {  
        border: 0;
        height: 75px;  
        width: 100%;  
        display: block;  
        bottombottom: -30px;  
        line-height: 25pt;  
        text-align: center;  
    }  
    #mainwrapper .box:hover .simple-caption {  
         -moz-transform: translateY(-100%);  
         -o-transform: translateY(-100%);  
         -webkit-transform: translateY(-100%);  
         transform: translateY(-100%);  
    }
    #image-1{
        opacity: 0;
    }  


</style>


<!-- Navbar Style -->
<style>
  
  #top-nav{
    
    width:123.1%;
    }


  #navbarise{
    background-color: #282828;
    border-radius: 0px;
    font-family: 'Stone-Sans-Regular';
  }

  #navbarlogo{
     }

  #navbarfont2{
    font-size: 25px;
    color:; 
    margin-left: em; 
    padding-left: 0px;
    padding-right: 0px;
   
  }

  #navbarfont5{
    font-size: 25px;
    color:; 
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    
     }


  #navbarlogo{
    font-size: 25px;
    color:#ededed; 
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: }

  #no-bottom-margin{
    margin-bottom: 0px;
  }  

  #nav.affix {
    position: fixed;
    text-align: center;
    top: 0;
    left : 4.58%;
    right: 4.58%;
    z-index: 100;
    padding-right: ;
    padding-left: ;
    opacity:1;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
  }
</style>


<style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      /*padding-top: 50px;*/
      padding-bottom: 0px;
      color: #5a5a5a;
      background-color: #ededed;
    }

    
 
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; 
      /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.70);
         -moz-box-shadow: 0 3px 10px rgba(0,0,0,.70);
              box-shadow: 0 3px 10px rgba(0,0,0,.70);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

-->

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */


    /* Special */

    #carousel-int-con{
      top: 95%;
right: 47.9%;
    }
    

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
      max-width: none;
    }


    #carousel-fonts {
    font-family: Lato;

    }
    .carousel-caption {
      
      background-color:transparent;
      position: static;
      max-width: 300px;
      padding: 0 20px;
      margin-top: 200px;
    }

    .carousel-caption2 {
      
      background-color:transparent;
      position: static;
      
      padding: 0 20px 0 0;
      margin-top: 100px;
      margin-right: 0px;
    }

    #move-right-float {

        float: right;
        text-align: left;
    }

    #move-right{
        text-align: right;

    }


    .nomargin{
      margin: 0;
    }
    .animate-in {
        left:55%; 
        opacity:1; 
        -webkit-transition-delay:.75s; 
        -moz-transition-delay:.75s; 
        -o-transition-delay:.75s; 
        -ms-transition-delay:.75s; 
        transition-delay:.75s; 
        -webkit-transition-duration:2s; 
        -moz-transition-duration:2s; 
        -o-transition-duration:2s;  
        -ms-transition-duration:2s; 
        transition-duration:2s;

    }

    .animate-in-off {
        -ms-transition-delay:.0s; 
        -ms-transition-duration:0s;
    }

    .carousel-caption h1 {
      padding: 10px;  
      padding-left: 20px;
      padding-right: 20px;    
      text-align: left;
      font-weight: 400;  
      font-size: 40px;
      background-color:rgba(255,255,255,0.76);
      margin: 0;
      line-height: 1.25;
      color: black;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);

    }
    .lead {
      padding: 20px;
      background-color:rgba(192,57,43,0.76);
      font-size: 18px;
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .lead2 {
      padding: 0px;
      background-color:transparent;
      font-size: 18px;
      margin: 0;
      line-height: 1.5;
      color: #282828;
      font-size: 25px;
      font-weight: 30;

      
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 400px;
      }
      .carousel img {
        width: auto;
        height: 400px;
        min-width: none;
        max-width: none;
        margin-left: -30%;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }

      .carousel-caption .lead, .carousel-caption .btn {
      font-size: 13px;
      }
      .carousel-caption h1 {
        font-size: 28px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: 0px;
        margin-right: 0px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 24px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 13px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    </style>

    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="carousel js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
                                   -->

<!-- ISE Quote 
===========================-->
<style>
  .bg-support{
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #ededed;
    padding-bottom: 20px;

  }
  .quoterow {
      margin: auto;
      text-align: center;
      background-color: =#ededed;
      font-family: Arial;
    }
  #ISE_Inc {
    font-family: 'Harabara';
    font-size: 80px;
    color: #8f1f22;
    text-align: center;
    margin: 5px;
    padding-bottom: 0px;
    font-weight: bold;
    padding-bottom: 5px;
  } 

  #ISE-quote-bg{
    background-color: =#ededed;
    
  }
  .normal_wordings {
    font-family: Harabara;
    font-size: 20px;
    color: #8f1f22;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
  }
  .list-type-cancel ul li{
      list-style-type: none;
  }
  </style>



<!--News 
  ======================-->

  <style>
    .news{
      display: inline; 
      font-family: Museo300-Regular; 
      font-size: 60px; 
      color:#EDECE3;

    }

    .iconpad{
      padding-top: 33px
    }

    #more{
      font-family: Arial; 
      font-size: 1.5em; 
      color:#EDECE3; 
      padding-top: 1em;
      padding-left: 2em
    }

    .newspart{
      background-color: #8F1F22;
      padding-bottom: 50px;
    }

    #infoicon{
      font-size:3em;
      color:black;
    }

    #newsdiv{
      padding-top: .5em;
      padding-bottom: 1em;
    }

    .auto-image
    {
      width: 100%;
      height: auto;
    }
    
  </style>
  <!-- Overlay Text on Image -->
<style>
  div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
  }  

  div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: tahoma;  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */ 

    }  

  p.description_content{
    font-family: tahoma; 
    font-size:15px;    
    padding:10px;  
    margin:0px;  
    }  

</style>    
<style>

.primary-hd{
  font-size: 19pt;
  font-family: Museo300-Regular;
  color: #edece3;
}
  #ex3d { line-height: 0px; 
      color: transparent; 
      
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    ;}

  #ex3 { 
      line-height: 100px; 
      color: #edece3; 
          -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    font-weight: 700;
      } 

    #ex3:active { 
      line-height: 100px; 
      color: #edece3; 
      font-weight: 700;
     
      }     

  #ex3 img{ 
    float: left; margin: 0 15px; }

</style>


<!--About Us 
  ======================-->
<style>

.text-center{
  font-style: italic;
}

#picture1{
  padding-left: 0px;
  height: inherit;


}
.text_section {
  text-align: left;
  padding-left:5%;
}
.arrow{
  height: auto;
  width: 100px;
  max-width: 130%;

}

.arrowup{
  margin-bottom: 30px;
}

.arrowdown{
  margin-top: 30px;

}
.who_we_are {
  color: #8f1f22;
  font-size: 75px;
  margin-top: 22.5%;
  font-family: Museo300-Regular;
}

.description_text {
  color: #8f1f22;
  font-size: 22px;
  line-height: 55px;
  margin-top: 40px;
  font-family: Lucida_Grande;
}

.detailmargin{
  margin-top: 20px;
  line-height: 50px;
}

.text_section2 {
  text-align: left;
  color: #8f1f22;
  position: absolute;
  margin: 120px 0 0 0;
}

.what_we_do {
  color: #8f1f22;
  font-size: 75px;
  margin-top: 20%;
  font-family: Museo300-Regular;
}

.description_text2 {
  font-size: 20px;
  line-height: 35px;
  margin-top: 20px;
  font-family: Lucida_Grande;
  color:#8f1f22;
}
.picture_section2{
  margin: 0 0 0 800px ;
  padding: 0;
  position: relative;
}

.text_section3 {
    color: #8f1f22;
    text-align: left;
    margin-top: 170px;

}

.forwhom {
    font-size: 80px;
    font-family:;
    margin-bottom: 10px;
    font-family: Museo300-Regular;
}

.description_text3 {
    font-size: 21px;
    font-family:;
    line-height: 50px;
    font-family: Lucida_Grande;
    
    color:#8f1f22;
}
.aboutusarrow{
  display: inline;
  margin-left: 5%;
  margin-top: 18%;
}

.imgAboutUs{
  width: auto;
  max-height: 100%;
  max-width: none;
  height: inherit;
}

</style>

<!--Meetour Teams
  ======================-->
<style>
  

    *{
      margin: 0;
      padding: 0;
    }

    .bg-maroon{
      background-color: #8f1f22;
      
    }

    .heading {
      text-align: center;
      padding: 2% 13% 13% 10%;
      font-family:Museo300-Regular  ;
      font-size: 45pt;
      color: #edeced;
      position: relative;
    }
    
    #meet_block1{
      display: block;
      margin-left: 6%;
      
      
    }

    #meet_block2{
      display: inline-block;
      margin-left: 6
    }
            
    #meet_block3{
      display: inline-block;
      margin-left: 6%;
      
      
    }

    #meet_block4{
      display: inline-block;
      margin-right: 60px;
      float:;
    }

    .set-relative{
      position: relative;
      max-width: 0%;
    }

    .set-absolute{
      position: absolute;
    }
    .arrowmeet{
      margin-top: 3%;
    }

    #img1 {
    opacity: 0.0;
    transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    }
    #img1:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    }​

    #img2 {
    opacity: 0.0;
    transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    }
    #img2:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    }​

    #img3 {
    opacity: 0.0;
    transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    }
    #img3:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    }​
    
    #img4 {
    opacity: 0.0;
    transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out;
    }
    #img4:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    }​


    .mainimg{
    margin-left: auto;
    margin-right: auto;

    }

    .hoverimg{
      margin-top: -255px;
      margin-left: auto;
      margin-right: auto;
    }

   </style> 
  
  <!--Contact Us
  ======================-->

  <style>

    #contacthead {
      color:#8F1F22; 
      font-size:50pt;
      text-align: center;

      font-family: Museo300-Regular;
      
    }

    .contacticon{
      display:block; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 30%;
    }

    .contactinfo{
      font-family: Lucida_Grande;
      font-size: 14pt;
      color: #8F1F22;
      text-align: center;
      margin-bottom: 30%;
    }

    .contactuss{
      background-color: #ededed
    }
    
    </style>


<!--Footer
  ======================-->
  <style>
    .footer {
      position: relative;
      clear: both;
      background-color: #282828;
      width: 100%;
      height: 200px;
      margin-bottom: 0px;
      text-align: center;
      float: bottom;
      padding: 0 0 15px 0;
    }
    #footer1 {
      text-align: center;
      padding-top: 15px;
      font-weight: 50;
      color: #ededed;
      margin-bottom: 0px;


    }
    .footer2 { 
      font-family: 'Stone-Sans-Regular'
      text-align: center;
      padding-top: 0px;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #ededed;
    }
  </style>
<!-- Special Padding -->
<style>
    #container-sp{
      padding-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
@media only screen and (min-width: 1600px) {


/* Carousel */


.carousel-caption {
background-color: transparent;
position: static;
max-width: 350px;
padding: 0 20px;
margin-top: 200px;
}
/* About Us */
  .primary-hd{
    font-size: 24pt;
    font-family: Museo300-Regular;
    color: #edece3;

      
  } 
  .description_text3 {
    font-size: 30px;
    font-family: ;
    line-height: 40px;
    font-family: Lucida_Grande;
    line-height: 60px;
    color: #8f1f22;
    
  }

  .description_text2 {
    font-size: 28px;
    line-height: 50px;
    margin-top: 20px;
    font-family: Lucida_Grande;
    color:#8f1f22;
    
  }

  .auto-image {
    width: 400px;
    height: auto;
  }

  p.description_content {
    font-family: tahoma;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
  }

}

@media only screen and (max-width: 1344px) {
/*Meet Our Team */
.heading {
text-align: center;
padding: 2% 0% 13% 10%;
font-family: Museo300-Regular;
font-size: 45pt;
color: #edeced;
position: relative;
}


/* About Us */
  .primary-hd{
    font-size: 16pt;
    font-family: Museo300-Regular;
    color: #edece3;
    
}
  #ex3{
    line-height: 80px;
    font-weight: 700;
      }

  .description_text3 {
    font-size: 20px;
    font-family: ;
    line-height: 40px;
    font-family: Lucida_Grande;
    line-height: 60px;
    color: #8f1f22;
  }
}
@media only screen and (max-width: 1130px) {

 #top-nav{
    
    width:120.9%;
}
/* About Us */
.aboutusarrow {
  display: inline;
  margin-left: 5%;
  margin-top: 18%;
  padding-left: 0px;
  padding-right: 0px;
}

.arrow {
  height: auto;
  width: 100px;
  max-width: 100%;}


.primary-hd{
  font-size: 14pt;
  font-family: Museo300-Regular;
  color: #edece3;

      
  }
  .who_we_are {
    color: #8f1f22;
    font-size: 60px;
    margin-top: 150px;
    font-family: Museo300-Regular;


  }
  .what_we_do {
    color: #8f1f22;
    font-size: 60px;
    margin-top: 75px;
    font-family: Museo300-Regular;
  }

    .text_section {
    text-align: left;
    padding-left: 15%;
  }

  .description_text3 {
    font-size: 17px;
    font-family: ;
    line-height: 40px;
    font-family: Lucida_Grande;
    
    color: #8f1f22;
    
  }

  .description_text2 {
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    font-family: Lucida_Grande;
    color:#8f1f22;
    
  }
    #ex3{
      line-height: 65px;
      font-weight: 700;
      }

 

    p.description_content {
      font-family: tahoma;
      font-size: 12px;
      padding: 10px;
      margin: 0px;  
  }

        .hoverimg{
      margin-top: -97%;
      margin-left: auto;
      margin-right: auto;
    }

}

@media only screen and (max-width: 1010px) {



  /*Nav Bar*/
    #top-nav{
    
    width:123.1%;
    }

    #navbarfont2 {
      font-size: 18px;
      color: ;
      margin-left: em;
      padding-left: 0px;
      padding-right: 0px;
    }  
  #navbarfont5 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
  }


/* Meet Our Team */
.heading {
text-align: center;
padding: 2% 6.5% 13% 6.5%;
font-family: Museo300-Regular;
font-size: 35pt;
color: #edeced;
position: relative;
}

/*Meet Our Team */



/* Contact Us */

    #contacthead {
      color:#8F1F22; 
      font-size:35pt;
      text-align: center;
      font-family: Museo300-Regular;
      
    }

  /* About */

    .text_section {
text-align: left;
padding-left: 18%;
}

  .who_we_are {
    color: #8f1f22;
    font-size: 40px;
    margin-top: 150px;
    font-family: Museo300-Regular;


  }
  .what_we_do {
color: #8f1f22;
font-size: 40px;
margin-top: 75px;
font-family: Museo300-Regular;
}
  .description_text3 {
    font-size: 16px;
    font-family: ;
    line-height: 40px;
    font-family: Lucida_Grande;
    
    color: #8f1f22;
    
  }

  .description_text2 {
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
    font-family: Lucida_Grande;
    color:#8f1f22;
    
  }
   .primary-hd{
      font-size: 10pt;
      font-family: Museo300-Regular;
      color: #edece3;
  }
  #ex3{
      line-height: 50px;
      font-weight: 700;
      }

    p.description_content {
      font-family: tahoma;
      font-size: 12px;
      padding: 10px;
      margin: 0px;
      max-height:50px;
      overflow: hidden;
  }


}


@media only screen and (max-width: 979px) {

  /* Nav Bar */

  #top-nav{
    margin-top :20px;
    width:124.3%;
  }
  #navbarfont2 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
  }  
  #navbarfont5 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
  }
}

  @media only screen and (max-width: 807px) {


     .hoverimg {
margin-top: -256px;
margin-left: auto;
margin-right: auto;
}
    /* Navbar */

      #nav.affix{
    opacity:1;
    float: right;
    width:45%;
    margin-left: auto;

  }
    .navbar .btn-navbar {
      margin-bottom: 0px;
      margin-top: 24px
    }

    #mobile-con{
      width: 100%;
      margin: 0px;
      float: right;
    }


    #navbarise{
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      
      float: right;
    }
  #top-nav{
    margin-top :0px;
    width:100%;
    margin-bottom: 0px;
  }
  /*News */  
  .news {
    display: inline;
    font-family: Museo300-Regular;
    font-size: 60px;
    color: #EDECE3;
    margin-left: 15px;
  }

  .iconpad{
      padding-top: 0px;
      padding-left: 10px;
    }

  .auto-image {
    width: 200px;
    height: auto;

  }

    p.description_content {
    font-family: tahoma;
    font-size: 10px;
    padding: 10px;
    margin: 0px;
  }

  #newsimg{
    clear:both;
    height: 170px;
    width: 210px;
    margin-left: 0px;
  }
  #ex3 {
    line-height: 60px;
    font-weight: 700;
    margin-top: -350px ;
    margin-left: 50%;
    width: 50%;
     }

   .primary-hd{
    font-size: 20pt;
    font-family: Museo300-Regular;
    color: #edece3;

      }
    #about-w-bg{
      min-height: 400px;
      padding-left:6%;
    }

    /* About Us*/

    .text_section {
      text-align: left;
      padding-left: 5%;
    }
    .imgAboutUs{
      width: 0px;
      max-height: 100%;
      max-width: none;
      opacity: 0;
      position:fixed;
      z-index: -1;
    }

    .who_we_are {
      color: #8f1f22;
      font-size: 50px;
      margin-top: 10px;
      font-family: Museo300-Regular;
    }

.what_we_do {
  color: #8f1f22;
  font-size: 50px;
  margin-top: 10px;
  font-family: Museo300-Regular;

  }
.description_text3 {
  font-size: 15px;
  font-family: ;
  line-height: 30px;
  font-family: Lucida_Grande;
  
  color: #8f1f22;
  } 

.description_text2 {
  font-size: 13px;
  line-height: 30px;
  margin-top: 10px;
  font-family: Lucida_Grande;
  color: #8f1f22;
  }  
.aboutusarrow {
  display: inline;
  margin-left: 5%;
  margin-top: 0%;
  }
.detailmargin{
  margin-top: 10px;
  }

.arrow{
  height: auto;
  width: 10%;
  margin-right: 45%;
  margin-left: 45%;
  }


  #picture1{
    height: 0px;
    width: 0px;
    min-height: 0px;
  }
  .upsp{
   
 } 

  .dnsp{
    margin-top: -40px;
  
 }

 /*header */
 #mainwrapper .box img {
  text-align: center;
  float: auto;
  vertical-align: center;
  border: 0;
  left: 0;

  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;    

  
  }
  .resizehd{
min-width: 130%;
height: auto;
margin-left: -15%;
margin-right: -15%
  }


 }
   
 @media only screen and (max-width: 600px) {
  /*Header */
  .resizehd{
    width:100%;
    height: auto;
    
  }
 }

/*====== Mobile =====*/
 @media only screen and (max-width: 480px){ 

  /* Nav Bar */
      #navbarise{
      opacity: 0.70;
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      width: 100%;
      float: right;

 }

  #navbarise:hover{
      opacity: 1;
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      width: 100%;
      float: right;

 }

 /* News */
      .auto-image {
      width: 190px;
      height: auto;
    }

  .primary-hd{
    font-size: 14pt;
    font-family: Museo300-Regular;
    color: #edece3;
  }

  #ex3 {
    line-height: 70px;
    font-weight: 700;
    margin-top: -350px;
    margin-left: 52.5%;
    width: 50%;
  }

/* Carousel */
  .lead{
    font-size: 0px;
    background-color: transparent;
    padding: 0;
  }

  .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 0px;
      }

      .carousel-caption {
width:90%;
padding: 0 70px;
margin-top: 220px;
}
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: none;
    max-width: none;
    height: 300px;
    margin-left: -30%;
  }

/* Footer */
    .footer {
    padding: 0 0 50px 0;
  }

}

@media only screen and (max-width: 320px){


#ex3 {
line-height: 70px;
font-weight: 700;
margin-top: -270px;
margin-left: 48%;
width: 50%;
}


.auto-image {
width: 140px;
height: auto;
}

#newsimg {
clear: both;
height: 120px;
width: 210px;
margin-left: 0px;
}

.newspart {
background-color: #8F1F22;
padding-bottom: 0px;
}

}
 </style>
  </head>



  <body id="top">

 <!-- Header
    ================================================== -->  

<div class="bg-maroon" class="set-absolute">
    <div id="main" class="container-fluid div_header">
      <div class="span12 row-fluid div_header">
          <div id="mainwrapper">
            <div id="box-1" class="box">  
              
                <div class="container-fluid" id="headimg" >
                  <img class="resizehd" style="width:auto" src="assets/images/texteditedhead.png"/></div>
                <div class="smoothScroll">  
                <span class="caption simple-caption">  
                    
                    <a href="#Home">
                        <img src="assets/images/arrow3.png"/>
                    </a>
                    
                </span>
                </div> 
            </div>  
            
          </div>
      </div>  
    </div>
</div>



      

    <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('main').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
    </script> 
    <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('headimg').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
    </script>
    
    <div id="Home"></div>
    <div id="home" class="container-fluid bg-maroon" style="width:100% ;height:60px"></div>
    <!-- Carousel
    ================================================== -->
  <div id="home">
    <div id="Home">

    <div id="myCarousel" class="carousel slide">
      <div id="carousel-fonts" class="carousel-inner">
        <div class="item active">

          <img src="assets/images/Real World Exp.jpg" alt="">
          <div class="container">
            <div id="move-right-float" class="carousel-caption">
              <h1 class="animate-in animate-in-off">Real World Experience</h1>
              <p class="lead">Working closely with businesses to nurture professionalism in students through internship and projects.</p>
              
              <!--<a class="btn btn-large btn-primary" href="#">See More</a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/images/Slide/inspiration.png" alt="">
          <div class="container">
            <div  class="carousel-caption">
              <h1 id="move-right">Inspiration & Opportunity </h1>
              <p class="lead"> Students are given opportunities to pursue the areas that they are truly passionate about. 
 </p>
              
              <!--<a class="btn btn-large btn-primary" href="#">See More</a>-->
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/images/Slide/careerexploration.png" alt="">
          <div class="container">
            <div id="move-right-float" class="carousel-caption">
              <h1>Career Exploration</h1>
              <p class="lead">Students learn about career options and networking from weekly guest speakers invited from all industries. </p>
              
              <!--<a class="btn btn-large btn-primary" href="#">See More</a>-->
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

      <ol id="carousel-int-con" class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="cursor:pointer"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="cursor:pointer"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="cursor:pointer"></li>
      </ol>
    </div>

    


    </div>
  </div>
</div><!-- /.carousel -->



<!---Static -->

<div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scrollspy-example">

<div id="News" class="container-fluid bg-maroon" style="width:100% ;height:60px"></div>


<!-- News
    ================================================== -->
<a name="News"> </a>
<div id="News">
<div id="container-sp" class="container-fluid" style="padding-top: 0px">  
<div class="newspart">
  <div class="row-fluid">
    <div class="container-fluid">
      <div class="span12">
      <div class="span3 offset1" id="newsdiv">
        <h1 class="news">News
        </h1>
        
        </div>
      <div id="Popover" class="offset6 span2 iconpad" style="">
      <!-- <img src="assets/images/Makeicon/vector5.png" /> -->
      </div>
      </div>  

  
    </div>  
    </div>
  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px">
  <div class="row-fluid">
    <div id="about-w-bg" class="span11">

      <div id="newsimg" class="span3 offset1">
      
        <div class="wrapper">
      <img class="auto-image" src="assets/images/news_inception.png">

          <div class="description">  
        <!-- description content -->  
            <p class="description_content"><a href="news_detail.html#news1">The Inception of ISE Inc.</a></p>
        <!-- end description content -->  
          </div> 
        </div>   
      
      </div>

    <div id="newsimg" class="span3">
      
        <div class="wrapper">
      <img class="auto-image" src="assets/images/news_launch.png">

          <div class="description">  
        <!-- description content -->  
            <p class="description_content"><a href="news_detail.html#news2">Launching Our Club's Website</a> </p> 
        <!-- end description content -->  
          </div> 
        </div>   
      
    </div>  

    <div id="newsimg" class="span3">
      
        <div class="wrapper">
      <img class="auto-image" src="assets/images/news_competition.png">

          <div class="description">  
        <!-- description content -->  
            <p class="description_content"><a href="news_detail.html#activities1">ISE Inc. Competition</a></p>
        <!-- end description content -->  
          </div> 
        </div>   
      
    </div>

    <div id="ex3" class="span2 text-center primary-hd">

      <a href="iseincnews">Club's News</a>
      <div>
      <a href="news_detail.html#OurActivities">Blogs</a>

      </div>
    </div>  


    </div>
</div>
</div>
</div>
</div>
</div>
<!-- /.News -->


<!-- About Us
    ================================================== -->



      <!-- Red Section!!! -->


<!-- WHO WE ARE!!-->
<div id="AboutUs">
<div id="container-sp" class="container-fluid" style="padding-top:0px">
  <div class="container-fluid bg-maroon" style="height:60px"></div>
  <div id="container-sp" class="container-fluid" style="padding-top:0px"> 
    
    <div id="WhoWeare" class="row-fluid" > 
  <!--.....picture container na ka..............-->
  <div id="picture1" class="container-fluid span4">
    <img src="assets/images/Who we are Pic.jpg" class="imgAboutUs">
  </div>

  <!-- ..... Text Container na ka ..............-->
  <div class="text_section container span7" style="">
    <div class="who_we_are container span12">
        Who 
    </div>
    <div class="description_text3 container-fluid span12">
         ISE Inc. is a student-run organization supported by International School of Engineering, Chulalongkorn University. Our members are composed mainly of engineering students from the IT-field. In recruiting members, we not only look for individuals that are technically-adept but also have the willingness to learn.

    </div>

    </div> 
    <!-- Nav Arrow -->
    
    <div class="aboutusarrow  container-fluid span1" id="right-nav1">
      <div class="arrowdown">
        <a href="#WhatWeDo"><img src="assets/images/Arrow Down.png" class="arrow"/></a>
      </div>
    </div>
  
    </div> 


  </div>
  <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('WhoWeare').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
  </script> 
  



<!-- WHAT WE DO!!-->  
<div id="WhatWeDo"  class="row-fluid">
  <div id="container-sp" class="container-fluid" style="
    padding-top: 0px;"> 
    <div id="Whatwedo"> 
  <!--.....picture container na ka..............-->
  <div id="picture1" class="container-fluid span4">
    <img src="assets/images/What we do.jpg" class="imgAboutUs">
  </div>

  <!-- ..... Text Container na ka ..............-->
  <div class="text_section container span7" style="">
    <div class="what_we_do container span12">
        What 
    </div>
    <div class="description_text2 container-fluid span12">
        
        <div class="detailmargin">
         ISE Inc. introduces students to real world experiences by presenting them with opportunities to work along-side reputable companies. Students work on professional-grade, IT-related projects or go on internships to explore their interest in various career fields. At weekly meetings, guest speakers from different career disciplines are invited to share their experiences with students.

         </div> 
           
      </div>  

    </div> 

    
    <!-- Nav Arrow -->
    <div class="aboutusarrow container-fluid span1" id="right-nav2">
      <div class="arrowup upsp"><a href="#WhoWeare"><img src="assets/images/Arrow Up.png" class="arrow"></a></div>
      
      <div class="arrowdown dnsp"><a href="#ForWhom"><img src="assets/images/Arrow Down.png" class="arrow"></a></div>

      </div> 
    </div>
  </div>
  <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('Whatwedo').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
  </script> 

</div>

<!--For Whom
  =====================================================-->
  <div id="ForWhom" class="row-fluid">
  <div id="container-sp" class="container-fluid" style="
    padding-top: 0px;"> 
    <div id="Forwhom" > 
  <!--.....picture container na ka..............-->
  <div id="picture1" class="container-fluid span4">
    <img src="assets/images/For Whom PIC.jpg" class="imgAboutUs">
  </div>

  <!-- ..... Text Container na ka ..............-->
  <div class="text_section container span7" style="">
    <div class="who_we_are container span12">
        Why
    </div>
    <div class="description_text3 container-fluid span12">
       ISE Inc. believes in a new way of education -- an education which encourages students to learn through practice.  In this way, ISE Inc. produces individuals that are not only skilled, but also proactive and experienced. Furthermore, ISE Inc. not only serves to benefit the student members and private businesses, we also seek to give back to Chulalongkorn University and society through CSR projects.

                  
                       <br>

    </div>

    </div>
    <!-- Nav Arrow -->
    <div class="aboutusarrow container-fluid span1" id="right-nav3">
      <div class="arrowup"><a href="#WhatWeDo"><img src="assets/images/Arrow Up.png" class="arrow"></a></div>
    </div> 

    </div> 
  </div>
  <script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('Forwhom').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
  </script>
</div>
</div>
  <!-- /.About US-->       
<!-- Meet Our Team
    ================================================== -->
<div id="MeetOurTeam" class="bg-maroon">
  <div id="container-sp" class="container-fluid">     
    <div id="main" class="container-fluid">
      <div class="row-fluid">
        <div class="span6 offset3">
          <h1 class="heading">Meet Our Team</h1>
        </div>
          <div class="span1 offset2 arrowmeet"><a href="meet_our_team.html"><img src="assets/images/Makeicon/vector5.png" /></a></div>
      
        
          </div>
      <div class="row-fluid">
        <div id="meet_block" class="span3" >
          <div class="">
      <a href="meet_our_team.html#Manager">
      <img src="assets/images/Makeicon/vector1.png" class="mainimg"/>
    </a>

          </div>
    <div id="img1" class="">
      <a href="meet_our_team.html#Manager">
      <img src="assets/images/Makeicon/vector1-after.png" class="hoverimg"/>
      <a>
    </div>  
          </div>
    <div id="meet_block" class="span3">
    <div class="">
      <a href="meet_our_team.html#Programmer">
      <img src="assets/images/Makeicon/vector2.png" class="mainimg"/>
    </a>
    </div>
    <div id="img1" class="">
      <a href="meet_our_team.html#Programmer">
      <img src="assets/images/Makeicon/vector2-after.png" class="hoverimg"/>
    </a>
    </div>  
  </div>
  <div id="meet_block" class="span3">
    <div class="">
      <a href="meet_our_team.html#Art-Director">
      <img src="assets/images/Makeicon/vector3.png" class="mainimg"/>
    </a>
    </div>
    <div id="img1" class="">
      <a href="meet_our_team.html#Art-Director">
      <img src="assets/images/Makeicon/vector3-after.png" class="hoverimg"/>
    </a>
    </div>  
  </div>
  <div id="meet_block" class="span3">
    <div class="">
      <a href="meet_our_team.html#Photographer">
      <img src="assets/images/Makeicon/vector4.png" class="mainimg"/>
    </a>
    </div>
    <div id="img1" class="">
      <a href="meet_our_team.html#Photographer">
      <img src="assets/images/Makeicon/vector4-after.png" class="hoverimg"/>
    </a>
    </div>  
  </div>

    </div>
  </div>
</div>
<div class="container-fluid bg-maroon" style="height:60px"></div>
</div>

<script language="javascript">
function autoResizeDiv()
{
document.getElementById('MeetOurTea').style.height = window.innerHeight +'px';
}
window.onresize = autoResizeDiv;
autoResizeDiv();
</script><!-- /.Meet Our Team--> 

<!-- Contact Us
    ================================================== -->
<div id="ContactUs">
<div id="container-sp" class="container-fluid">      
<div class="container-fluid">    
  <div id="main" class="container-fluid contactuss">
    <div class="row-fluid">
        <div class="span4 offset4"><h1 id="contacthead">Contact Us</h1></div>
    </div>
    <div class="row-fluid">
        <div class="span2 offset2">
            <img class="contacticon" src="assets/images/Makeicon/Map@2x.png"><br>
            <p class="contactinfo">ISE Common Room <br>
              Building 2, Faculty of Engineering
             <br>
               Chulalongkorn University<br>
               Bangkok, 10330 <br>
            </p>
        </div>
        <div class="span2">
            <img class="contacticon" src="assets/images/Makeicon/Contact us (Phone Mail).png"><br>
            <p class="contactinfo">Tel : +66 (0) 2218 6422 - 4<br>
                E-mail :  info@iseinc.io <br>
            </p>
        </div>
        <div class="span2">
            <img class="contacticon" src="assets/images/Makeicon/Twitter.png"><br>
            <p class="contactinfo">Follow Us on Twitter
            </p>
        </div>
        <div class="span2">
          <a href="http://www.facebook.com/IseInc">
            <img class="contacticon" src="assets/images/Makeicon/Facebook.png"><br></a>
            <p class="contactinfo">Like Our Page on Facebook
            </p>
        </div>

    </div>
  </div>  
</div>
</div>
</div>
</div>
</div>
<script language="javascript">
function autoResizeDiv()
{
document.getElementById('ContactU').style.height = window.innerHeight +'px';
}
window.onresize = autoResizeDiv;
autoResizeDiv();
</script><!-- /.Contact Us--> 

<!--End Static -->
</div>
<!-- Footer
    ================================================== -->
<div id="container-sp" class="container-fluid">     
  <div class="footer">
    <div class="container">
      <h1 id="footer1"> <img src="assets/images/footer icon.png" style="width:80px; height:auto"> </h1>
        <br>
      <p class="footer2"> 
        International School of Engineering </br>
        Faculty of Engineering, Chulalongkorn University
      </p>
    </div>  
    <p  class="pull-right" style="margin-bottom: 0px; margin-right: 1%"><a href="#top">Back to Top</a></p>

            
        <!--<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
      
  </div>
</div>  <!-- FOOTER -->
 

<!--<div id="Extra">  <!-- Extra FOOTER ->
      
</div>
    </div><!-- /.container 

</div>

  <!-- NavBar 
  ===============================-->

  <div class="container-fluid affix" data-spy="affix" data-offset-top="400" id="nav">
    <div id="no-bottom-margin" class="navbar row-fluid" >
      <div class="navbar-inner" id="navbarise">
        <div class="container" id="mobile-con">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


          <div class="nav-collapse collapse">
              <ul class="nav span11" id="top-nav" >

      <li class="span3">
        <a class="" id="navbarlogo" href="#home" style="padding-left: 20px;padding: 0 0 0 0; margin-left: 0px;">
        <img style="width: auto;height:50px" src="assets/images/navbarmini iseinc icon.png"></a>
      </li>
      <!-- Place active for focus on what page -->
      <li class="span2" style="margin-left: 0px;">
        <a id="navbarfont5" href="#News" title="News feed">News Feed</a>
      </li>
      <li class="span2 active" style="margin-left: 0px;">
        <a id="navbarfont2" href="#AboutUs" title="About Us">About Us</a>
      </li>
      <li class="span2" style="margin-left: 0px;">
        <a id="navbarfont2" href="#MeetOurTeam" title="Our Team">Our Team</a></li>
      <li class="span2" style=" margin-left: 0px;">
        <a id="navbarfont2" href="#ContactUs" title="Contact Us">Contact Us</a>
      </li>
      </ul>
          </div>
        </div>
         
      </div>
    </div>
  </div>


</div>
 

  <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
             $('#top-nav').onePageNav({
                 currentClass: 'active',
                 changeHash: true,
                 scrollSpeed: 1300
            });
        </script>

        <script type="text/javascript" src="js/smoothscroll.js"></script>

  
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="carousel js/jquery.js"></script>
    <script src="carousel js/bootstrap-transition.js"></script>
    <script src="carousel js/bootstrap-alert.js"></script>
    <script src="carousel js/bootstrap-modal.js"></script>
    <script src="carousel js/bootstrap-dropdown.js"></script>
    <script src="carousel js/bootstrap-scrollspy.js"></script>
    <script src="carousel js/bootstrap-tab.js"></script>
    <script src="carousel js/bootstrap-tooltip.js"></script>
    <script src="carousel js/bootstrap-popover.js"></script>
    <script src="carousel js/bootstrap-button.js"></script>
    <script src="carousel js/bootstrap-collapse2.js"></script>
    <script src="carousel js/bootstrap-carousel.js"></script>
    <script src="carousel js/bootstrap-typeahead.js"></script>
    <script src="carousel js/bootstrap-affix.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="carousel js/holder/holder.js"></script>
    <script>
     !function ($) {
        $(function(){
    $('#nav').affix({
    });
    </script>



  </body>
</html>
