<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ISE Inc :: Meet Our Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

<!-- Navbar Style -->


<style>
  
#top-nav{
    
    width:123.1%;
    }


  #navbarise{
    background-color: #282828;
    border-radius: 0px;
    font-family: 'Stone-Sans-Regular';
  }

  #navbarlogo{
     }

  #navbarfont2{
    font-size: 25px;
    color:; 
    margin-left: em; 
    padding-left: 0px;
    padding-right: 0px;
   
  }

  #navbarfont5{
    font-size: 25px;
    color:; 
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    
     }


  #navbarlogo{
    font-size: 25px;
    color:#ededed; 
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: }

  #no-bottom-margin{
    margin-bottom: 0px;
  }  

  #nav.affix {
    position: fixed;
    text-align: center;
    top: 0;
    left : 4.58%;
    right: 4.58%;
    z-index: 100;
    padding-right: ;
    padding-left: ;
    opacity:1;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
  }
</style>

<style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      /*padding-top: 50px;*/
      padding-bottom: 0px;
      color: #5a5a5a;
      background-color: #ededed;
    }

    
 
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; 
      /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.70);
         -moz-box-shadow: 0 3px 10px rgba(0,0,0,.70);
              box-shadow: 0 3px 10px rgba(0,0,0,.70);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }









</style>
<!--Meet Our Team -->
<style>

  @font-face {
  font-family: 'Stone-Sans-Regular';
  src: url('fonts/Stone Sans Regular.eot'), url('fonts/Stone Sans Regular.ttf') format('truetype'), url('fonts/Stone Sans Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'Futura-Light';
  src: url('fonts/Futura-Light.eot'), url('fonts/Futura-Light.ttf') format('truetype'), url('fonts/Futura-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'Harabara';
  src: url('fonts/harabara-webfont.eot'), url('fonts/harabara-webfont.ttf') format('truetype'), url('fonts/harabara-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proximanova-light-webfont.eot'), url('fonts/proximanova-light-webfont.ttf') format('truetype'), url('fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  body {
        padding-bottom: 0px;
        color: #5a5a5a;
        background-color: #edece3;
  }

  #nopadding{
      padding: 0px;
  }

  #nomargin{
    margin: 0px;
  }

  .automargin-side{ 
    margin-left: auto;
    margin-right: auto;
    
  }

  .setmargin-bottom{
    margin-bottom: 50px;
  }

  .iconmargin{
    margin-bottom: 15px;
  }

  #container-margin {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  #container-margin-detail {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #container-padding-bottom{
    padding-bottom: 0px;
  }
  .programmer-bg{
    background-color: #8f1f22;
    width: 100%;
    height: 100%; 
  }

  .design-bg{
    background-color: #edece3;
    width: 100%;
    height: 100%; 
  }

  .programmer-font{
    line-height: 0.72;
    font-family:'Harabara';
    font-size: 150px;
    color: #edece3;
  }

  .design-font{
    line-height: 0.72;
    font-family:'Harabara';
    font-size: 150px;
    color: #8f1f22;
  }

  .programmer-detail-font{
    font-family: Arial;
    font-size:  16px;
    color: #edece3;

  }

  .design-detail-font{
    font-family: Arial;
    font-size:  16px;
    color: #8f1f22;

  }

  .float-center{
    float: center;

  }

  .main-image{
    height: auto;
    width: 25%;

  }

  .main-heading{
    font-family: 'Harabara';
    font-size: 90px;
    color: #8f1f22;
  }

  .main-detail{
    font-family: 'Harabara';
    font-size: 40px;
    color: #8f1f22;
  }

  .design-pos-relative{
    position: relative;

  }

  .design-pos-absolute{
    position: absolute;
  }

</style>

<!--Footer
  ======================-->
  <style>
    .footer {
      position: relative;
      clear: both;
      background-color: #282828;
      width: 100%;
      height: 200px;
      margin-bottom: 0px;
      text-align: center;
      float: bottom;
      padding: 0 0 15px 0;
    }
    #footer1 {
      text-align: center;
      padding-top: 15px;
      font-weight: 50;
      color: #ededed;
      margin-bottom: 0px;


    }
    .footer2 { 
      font-family: 'Stone-Sans-Regular'
      text-align: center;
      padding-top: 0px;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #ededed;
    }
  </style>
  <style>
    #container-sp{
      padding-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }


@media only screen and (max-width: 1130px) {

 #top-nav{
    
    width:120.9%;
    
  }
}

@media only screen and (max-width: 1010px) {



  /*Nav Bar*/
    #top-nav{
    
    width:123.1%;
    }

    #navbarfont2 {
      font-size: 18px;
      color: ;
      margin-left: em;
      padding-left: 0px;
      padding-right: 0px;
    }  
  #navbarfont5 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
  }


}  


@media only screen and (max-width: 979px) {

  /* Nav Bar */

  #top-nav{
    margin-top :20px;
    width:124.3%;
  }
  #navbarfont2 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
  }  
  #navbarfont5 {
    font-size: 18px;
    color: ;
    margin-left: em;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
  }
}
 @media only screen and (max-width: 807px) {
  /* Navbar */

      #nav.affix{
    opacity:1;
    float: right;
    width:45%;
    margin-left: auto;

  }
    .navbar .btn-navbar {
      margin-bottom: 0px;
      margin-top: 4px
    }

    #mobile-con{
      width: 100%;
      margin: 0px;
      float: right;
    }


    #navbarise{
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      float: right;
    }
  #top-nav{ 
    margin-top :0px;
    width:100%;
    margin-bottom: 0px;
  }
  #role_header{
    line-height: 0.72;
    font-family:'Harabara';
    font-size: 120px;
    

    }

  .main-heading {
    font-family: 'Harabara';
    font-size: 70px;
    color: #8f1f22;
    }

  .main-detail {
    font-family: 'Harabara';
    font-size: 40px;
    color: #8f1f22;
    } 
} 


 @media only screen and (max-width: 480px){ 

/* Nav Bar */
      #navbarise{
      opacity: 0.70;
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      width: 100%;
      float: right;

 }

  #navbarise:hover{
      opacity: 1;
      background-color: #282828;
      border-radius: 0px;
      font-family: 'Stone-Sans-Regular';
      width: 100%;
      float: right;

 }
 #role_header{
    line-height: 0.72;
    font-family:'Harabara';
    font-size: 80px;
    
  }

  .footer {
    padding: 0 0 50px 0;
  }

    .main-heading {
    font-family: 'Harabara';
    font-size: 50px;
    color: #8f1f22;
    }


      .main-detail {
    font-family: 'Harabara';
    font-size: 27px;
    color: #8f1f22;
    } 
}



</style>

  </head>

<body id="top" data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">



 <!-- NavBar 
  ===============================

  <div class="container-fluid affix" data-spy="affix" data-offset-top="" id="nav">
    <div id="no-bottom-margin" class="navbar row-fluid">
      <div class="navbar-inner" id="navbarise">
    
    <ul class="nav span12" id="top-nav">
      <li class="span2">
        <a class="" id="navbarlogo" href="#home" style="padding-left: 20px;padding: 0 0 0 0; margin-left: 0px;">
        <img style="width: auto;height:50px" src="images/navbarmini iseinc icon.png"></a>
      </li>
      <!-- Place active for focus on what page 
      <li class="span3" style="margin-left: 0px;">
        <a id="navbarfont5" href="#News" title="News feed">News Feed</a>
      </li>
      <li class="span2 " style="margin-left: 0px;">
        <a id="navbarfont2" href="#AboutUs" title="About Us">About Us</a>
      </li>
      <li class="span3 active" style="margin-left: 0px;">
        <a id="navbarfont2" href="#MeetOurTeam" title="Meet Our Team">Meet Our Team</a></li>
      <li class="span3" style=" margin-left: 0px;">
        <a id="navbarfont2" href="#ContactUs" title="Contact Us">Contact Us</a>
      </li>


       </ul>
      </div>
    </div>
  </div>
</div>
 -->

  


<!-- Meet Our Group 
  ======================================-->
<div class="container-fluid">
  
<div id="container-margin" class="container-fluid">
  <div class="row-fluid">
    <div class="container-fluid text-center ">
    <img class="main-image" src="images/Makeicon/graph.png">
    </div>
  </div>  
</div>  
<div id="container-margin" class="container-fluid" style="
    margin-top: 20px;
">
  <div class="row-fluid">
    <div class="container-fluid text-center main-heading">
      <div> Meet Our Team </div>
    </div>
    <div id="container-margin" class="container-fluid text-center main-detail">
      <div> Our success would</div>
      <div id="container-margin-detail">
      <div> not be possible without them</div>
      </div>
    </div>  

  </div>
</div>    

</div>


<!-- Programmer ---->
<a name="Programmer">
<div class="container-fluid" style="height:50px;width:100%"></div>
<div id="nopadding" class="container-fluid programmer-bg">
  <div class="row-fluid">
    <div id="role_header" class="programmer-font">
       Developer 
    </div>
    <div id="container-padding-bottom" class="container-fluid"> 
      <div id="nopadding" class="container-fluid programmer-detail-font automargin-side design-pos-relative">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Indy.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Intouch Marsvongpragorn (Indy) 
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Film.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Benya Vachalathiti (Film) 
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/TanA.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Teerakorn Ananthothai (Tan A) 
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Tan.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Saris Ophaswongse (Tan O)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

      </div>  
      <div id="nopadding" class="container-fluid programmer-detail-font automargin-side">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Win.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Thanachote Laohapolwattana (Win) 
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Patraporn Leelaprachakul (Ja-ay)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Methus Detchusananart (M)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Nutcha Temiyasathit (Ploy)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer
          </div>  
        </div>
        </div>

      </div>  
    </div>

    
  </div>  

</div>
</a>
<!-- Designer ---->
<a name="Art-Director">
<div class="container-fluid" style="height:50px;width:100%"></div>  
<div id="nopadding" class="container-fluid design-bg">
  <div class="row-fluid">
    <div id="role_header" class="design-font">
      Designer
    </div>
    <div id="container-padding-bottom" class="container-fluid"> 
      <div id="nopadding" class="container-fluid design-detail-font automargin-side design-pos-relative">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Term.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Thanachote Chotisorayuth (Term)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Ping.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Anunya Sukitjanuparp (Ping) 
          </div>  
          <div id="nomargin" class="span12 text-center">
            Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Phee.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Pheerawit Charuvajana (Phee)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Prinn Phakdeekitcharoen
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer/Designer
          </div>  
        </div>
        </div>

      </div>  
      <div id="nopadding" class="container-fluid design-detail-font automargin-side">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Thanaspakorn Niyomkarn (Arm)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer/Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Chawin Tiptanagarn (Golf)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer/Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Wasin Wachiradilok (Boat)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer/Designer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Poon Wuthikulcharoenwong
          </div>  
          <div id="nomargin" class="span12 text-center">
            Developer/Designer
          </div>  
        </div>
        </div>

      </div>  
    </div>

    
  </div>  

</div>
</a>
<!-- Management ---->
<a name="Manager">
<div class="container-fluid" style="height:50px;width:100%"></div>  
<div id="nopadding" class="container-fluid programmer-bg">
  <div class="row-fluid">
    <div id="role_header" class="programmer-font">
      Member Committee
    </div>
    <div id="container-padding-bottom" class="container-fluid"> 
      <div id="nopadding" class="container-fluid programmer-detail-font automargin-side design-pos-relative">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/A.Pac.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Ajarn Pac
          </div>  
          <div id="nomargin" class="span12 text-center">
            Principal Advisor
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Putti.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            P'Putti
          </div>  
          <div id="nomargin" class="span12 text-center">
            President
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Thato Puoetsile
          </div>  
          <div id="nomargin" class="span12 text-center">
            Vice President
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Harin Sanghirun (Good)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Technical Advisor
          </div>  
        </div>
        </div>

      </div>  
      <div id="nopadding" class="container-fluid programmer-detail-font automargin-side">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

      </div>  
    </div>

    
  </div>  

</div>
</a>

<!-- Taking Photo ---->
<a name="Photographer">
<div class="container-fluid" style="height:50px;width:100%"></div>    
<div id="nopadding" class="container-fluid design-bg">
  <div class="row-fluid">
    <div id="role_header" class="design-font">
      Misc.
    </div>
    <div id="container-padding-bottom" class="container-fluid"> 
      <div id="nopadding" class="container-fluid design-detail-font automargin-side design-pos-relative">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Lalinda Chirachanakul (Yu)
          </div>  
          <div id="nomargin" class="span12 text-center">
            Journalist
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            Varis Pinrat
          </div>  
          <div id="nomargin" class="span12 text-center">
            Photographer
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

      </div>  
      <div id="nopadding" class="container-fluid design-detail-font automargin-side">
      <div class="row-fluid text-center setmargin-bottom">
        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/girl_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

        <div id="" class="span3">
          <div id="nopadding" class="span8 offset2 iconmargin">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="images/Makeicon/dude_avatar.png" alt="">
          </div>
        <div class="">
          <div class="span12 text-center">
            
          </div>  
          <div id="nomargin" class="span12 text-center">
            
          </div>  
        </div>
        </div>

      </div>  
    </div>

    
  </div>  

</div>
</a>
<!-- Meet Our Team
    ================================================== -->
<!-- Footer
    ================================================== -->
<div id="container-sp" class="container-fluid">     
  <div class="footer">
    <div class="container">
      <h1 id="footer1"> <img src="images/footer icon.png" style="width:80px; height:auto"> </h1>
        <br>
      <p class="footer2"> 
        International School of Engineering </br>
        Faculty of Engineering, Chulalongkorn University
      </p>
    </div>  
    <p class="pull-right" style="margin-bottom: 0px; margin-right: 1%"><a href="#top">Back to Top</a></p>

            
        <!--<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
      
  </div>
</div>  <!-- FOOTER -->


    <!-- NavBar 
  ===============================-->

  <div class="container-fluid affix" data-spy="affix" data-offset-top="0" id="nav">
    <div id="no-bottom-margin" class="navbar row-fluid" >
      <div class="navbar-inner" id="navbarise">
        <div class="container" id="mobile-con">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


          <div class="nav-collapse collapse">
              <ul class="nav span11" id="top-nav" >

      <li class="span3">
        <a class="" id="navbarlogo" href="index.html#home" style="padding-left: 20px;padding: 0 0 0 0; margin-left: 0px;">
        <img style="width: auto;height:50px" src="images/navbarmini iseinc icon.png"></a>
      </li>
      <!-- Place active for focus on what page -->
      <li class="span2" style="margin-left: 0px;">
        <a id="navbarfont5" href="index.html#News" title="News feed">News Feed</a>
      </li>
      <li class="span2" style="margin-left: 0px;">
        <a id="navbarfont2" href="index.html#AboutUs" title="About Us">About Us</a>
      </li>
      <li class="span2 active" style="margin-left: 0px;">
        <a id="navbarfont2" href="index.html#MeetOurTeam" title="Our Team">Our Team</a></li>
      <li class="span2" style=" margin-left: 0px;">
        <a id="navbarfont2" href="index.html#ContactUs" title="Contact Us">Contact Us</a>
      </li>
      </ul>
          </div>
        </div>
         
      </div>
    </div>
  </div>


</div>
 

  <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
             $('#top-na').onePageNav({
                 currentClass: 'active',
                 changeHash: true,
                 scrollSpeed: 1300
            });
        </script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>
    <!-- Le javascri

  
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="carousel js/jquery.js"></script>
    <script src="carousel js/bootstrap-transition.js"></script>
    <script src="carousel js/bootstrap-alert.js"></script>
    <script src="carousel js/bootstrap-modal.js"></script>
    <script src="carousel js/bootstrap-dropdown.js"></script>
    <script src="carousel js/bootstrap-scrollspy.js"></script>
    <script src="carousel js/bootstrap-tab.js"></script>
    <script src="carousel js/bootstrap-tooltip.js"></script>
    <script src="carousel js/bootstrap-popover.js"></script>
    <script src="carousel js/bootstrap-button.js"></script>
    <script src="carousel js/bootstrap-collapse2.js"></script>
    <script src="carousel js/bootstrap-carousel.js"></script>
    <script src="carousel js/bootstrap-typeahead.js"></script>
    <script src="carousel js/bootstrap-affix.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="carousel js/holder/holder.js"></script>
    <script>
     !function ($) {
        $(function(){
    $('#nav').affix({
    });
    </script>
      




  </body>

</html>
